<!-- <nav class="navbar navbar-expand navbar-light bg-light">
    <a class="navbar-brand">{{pageTitle}}</a>
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/home']"
           routerLinkActive="active">Home</a>
      </li>
       <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/users']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Users List</a>
      </li>       
      <li class="nav-item">
        <a class="nav-link"
           [routerLink]="['/basket']"
           routerLinkActive="active"
           [routerLinkActiveOptions]="{ exact : true}">Basket
          <span class="badge bg-primary"
                *ngIf="cartCount()">{{cartCount()}}</span>
        </a>
      </li>
     </ul> 
   </nav> 
  
   <div class="container">
    <router-outlet></router-outlet>
  </div> -->
  
  <div class="container">

    <vy-header></vy-header>

    <vy-nav></vy-nav>

    <vy-content>
      <!-- The router-outlet where routed components will be displayed -->
      <router-outlet></router-outlet>
    </vy-content>

    <vy-side></vy-side>

    <vy-footer></vy-footer>
    
  </div>  
