/* essential corporate colours pattern */
$vy_extra_dark_purple: #0c0128;
$vy_dark_purple: #6c56f5;
$vy_light_purple:  #6c56f9;
$vy_light_red: #900573;
$vy_dark_red: #850257;
$vy_green: #606701;
$vy_black: #000;
$vy_white: #ececec;
