<h1>
  {{ pageTitle }}
</h1>
<form [formGroup]="filterForm">
  <select formControlName="status" (change)="onStatusChanged($event.target.value)">
    <option [ngValue]="null" disabled>Select Status</option>
    @for(status of statusValues; track status) {
      <option [ngValue]="status">{{ status }}</option>
    }   
  </select>
  <input type="date" (change)="onDateChanged($event.target.value)">
</form>

<hr />


<hr>

<h2>Parsing Signal from Parent data to Child || transforming the Observable into Signal (THIS WILL NOT WORK)</h2>
 <!-- <div *ngIf="ChildSignalTransactions().length">NO NO NO</div> -->
 <!-- {{  ChildSignalTransactionsFromObservable() }} -->

<hr />

<h2>Parsing from Observable to Signal</h2>
{{ filteredTransactionsFromObservableToSignal() }}

<hr />

<h2>Parsing Observable from Parent data to Child</h2>
<!-- This is the array of transactions passed from the parent component. 
  You can access individual transactions and their properties using the code mentioned above. -->
<div>
  {{ ChildTransactions$ | async | json }}
</div>

<hr>

<h3>Observable table data</h3>
<ng-container class="card-body" *ngIf="childData$ | async as childData; trackBy: trackByStatus">
  <div class="table-wrapper">
    <table class="table styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <ng-container *ngIf="(childData$ | async) as childData">
          <tr *ngFor="let transaction of childData.items; trackBy: trackByStatus" class="table-row" 
                      (click)="onSelectedTransactionFromList(transaction.id)">
            <td><span class="fw-bold">{{ transaction?.id ?? '-' }}</span></td>
            <td>{{ transaction?.amount ?? '-' }}</td>
            <td>{{ transaction?.currency ?? '-' }}</td>
            <td>{{ transaction?.description ?? '-' }}</td>
            <td>{{ transaction?.status ?? '-' }}</td>
            <td>{{ transaction?.createdAt | date: 'medium' ?? '-' }}</td>
          </tr>
        </ng-container>
      </tbody>
    </table>
  </div>
</ng-container>

<hr>

<h3>Signal table</h3>
<ng-container class="card-body" *ngIf="filteredTransactionsSignal().length">
  <div class="table-wrapper">
    <table class="table styled-table">
      <thead>
        <tr>
          <th>ID</th>
          <th>Amount</th>
          <th>Currency</th>
          <th>Description</th>
          <th>Status</th>
          <th>Created At</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let transaction of filteredTransactionsSignal(); trackBy: trackByStatus" 
            class="table-row" 
            (click)="onSelectedTransactionFromList(transaction.id)">
          <td><span class="fw-bold">{{ transaction?.id ?? '-' }}</span></td>
          <td>{{ transaction?.amount ?? '-' }}</td>
          <td>{{ transaction?.currency ?? '-' }}</td>
          <td>{{ transaction?.description ?? '-' }}</td>
          <td>{{ transaction?.status ?? '-' }}</td>
          <td>{{ transaction?.createdAt | date: 'medium' ?? '-' }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</ng-container>

<ng-container *ngIf="!filteredTransactionsSignal">Loading...</ng-container>
<ng-container class="alert alert-danger mt-3" *ngIf="ChildEmptyMessage.length === 0">
  {{ ChildEmptyMessage }}
</ng-container>
